In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

## Создание датасета

In [6]:
n_samples = 2000

work_experience = np.random.choice(5, n_samples) + 7 #будет лишним признаком
hourly_rate = np.random.choice(150, n_samples) + 30
working_hours = np.random.choice(50, n_samples) + 10
bonus = np.random.choice(50, n_samples) + 17

salary = hourly_rate * working_hours + 2.5 * bonus + 117

data = pd.DataFrame({'work_experience': work_experience, 'hourly_rate': hourly_rate, 'working_hours': working_hours, 'bonus': bonus, 'salary': salary})
data

      work_experience  hourly_rate  working_hours  bonus  salary
0                   8           99             34     29  3555.5
1                  10           39             14     24   723.0
2                   7          139             20     24  2957.0
3                   7           35             25     59  1139.5
4                  10           63             40     46  2752.0
...               ...          ...            ...    ...     ...
1995               11           86             26     47  2470.5
1996               11          153             44     54  6984.0
1997                9          152             35     37  5529.5
1998                9          150             37     64  5827.0
1999                7          179             11     33  2168.5

[2000 rows x 5 columns]

## Если все признаки отдать на обучение модели

In [7]:
from sklearn.metrics import mean_absolute_error

X = data[['work_experience', 'hourly_rate', 'working_hours', 'bonus']]
y = data['salary']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['work_experience', 'hourly_rate', 'working_hours', 'bonus']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ -7.20449757  35.43648913 102.81940856   2.07909433]
Bias: -3437.2575813225667
Error: 454.7408965730916

## Если убрать лишний признак

In [9]:
X = data[['hourly_rate', 'working_hours', 'bonus']]
y = data['salary']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['hourly_rate', 'working_hours', 'bonus']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 35.42995984 102.80432919   2.08258468]
Bias: -3500.536676094376
Error: 454.73032214886325

Особо ничего не изменилось

## Добавление нового признака

In [10]:
data['new'] = data['hourly_rate'] * data['working_hours']
data.head(5)

   work_experience  hourly_rate  working_hours  bonus  salary   new
0                8           99             34     29  3555.5  3366
1               10           39             14     24   723.0   546
2                7          139             20     24  2957.0  2780
3                7           35             25     59  1139.5   875
4               10           63             40     46  2752.0  2520

In [11]:
X = data[['hourly_rate', 'working_hours', 'bonus', 'new']]
y = data['salary']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['hourly_rate', 'working_hours', 'bonus', 'new']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-4.43044902e-15  4.15223411e-14  2.50000000e+00  1.00000000e+00]
Bias: 116.99999999999955
Error: 3.652189661806915e-13

 В целом, коэффициенты для бонуса и произведения уже подобраны правильно

## Модель только с одним новым признаком

In [13]:
X = data[['new']]
y = data['salary']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['new']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1.00044602]
Bias: 219.46446564190956
Error: 30.95678442114595

Если оставить только прозведение, без бонуса, то ошибка будет ниже, чем в первом случае